@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
background-color: #393E46;
color: #EEEEEE;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, 'Noto Sans Japanese', 'Hiragino Sans', 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN',  'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
font-size: 14px;
}

a, a:hover, a:visited {
color: #DE703C;
text-decoration: none;
}

h1, h2, h3 ,h4 {
text-align: center;
}

prtype_tbl {
display: table;
width: 100%;
text-align: center;
box-sizing: border-box;
}

.header {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
height: 38px;
width: 1320px;
padding: 0px 2px 0px 2px;
margin-left: 2px;
background-color: #393E46 !important;
}

.logo {
margin-right: 6px;
margin-top: 1px;
vertical-align: middle;
}

.logo_image {
border: none;
}

.label{
vertical-align: bottom;
text-align: center;
margin-left: 2px;
padding: 2px 6px 0px 6px;
background-color: #505050;
border: 2px outset #e0f0f0;
color: #ffffff;
font-size: 16px;
white-space: nowrap;
font-weight: normal;
}

.status {
padding: 2px 4px 2px 4px;
margin-left: 10px;
vertical-align: bottom;
font-weight: normal;
color: #ffffff;
font-size: 16px;
text-align: center;
border: 1px solid #40ff20;
}

.buttonset {
margin-left: auto;
text-align: right;
}

.header:after {
content: '';
clear: both;
}

.ss_button {
-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
box-shadow:inset 0px -3px 7px 0px #29bbff;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
background-color:#2dabf9;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:1px solid #0b0e07;
cursor:pointer;
color:#ffffff;
font-family:Verdana;
font-size:11pt;
padding:2px 10px;
text-decoration:none;
text-shadow:0px 1px 0px #263666;
margin-left: 8px;
display:inline-block;
vertical-align: middle;
}

.ss_button:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
background-color:#0688fa;
}

.ss_button:active {
position:relative;
top:1px;
}

.list {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}

.list1 {
margin-top: 2px;
border-width: 3px 2px;
border-style: solid;
border-color: #38c38c;
border-collapse: collapse;
}

.list2 {
margin-top: 2px;
border-width: 3px 2px;
border-style: solid;
border-color: #DE703C;
border-collapse: collapse;
}

th {
text-align:center;
padding: 0px 3px 0px 2px;
background-color: #222831;
border: 1px #808080 solid;
color: #FBB040;
white-space: nowrap;
font-weight: normal;
font-size: 14px;
line-height: 20px;
}

td {
border: 1px #808080 solid;
padding: 0px 3px 0px 2px;
text-align:right;
white-space: nowrap;
font-size: 14px;
line-height: 20px;
}

.tdata_l {
text-align:left;
}

.wrapper {
margin: 0 auto;
}

.hint {
}

.player:hover {
box-shadow: 0px 0px 5px 0px #222831;
}

.player {
padding: 0px 4px 0px 4px;
margin: 0px;
}

.player .AirCarrier_bg {
background-color: #107050;
}
.player .Battleship_bg {
background-color: #602130;
}
.player .Cruiser_bg {
background-color: #606010;
}
.player .Destroyer_bg {
background-color: #104080;
}

.player .class1 {
color: #FE0E00;
}
.player .class2 {
color: #FE7903;
}
.player .class3 {
color: #F8F400;
}
.player .class4 {
color: #60FF00;
}
.player .class5 {
color: #02C9B3;
}
.player .class6 {
color: #E042E8;
}

.player .cp_class1 {
color: #FE0E00;
}
.player .cp_class2 {
color: #FE7903;
}
.player .cp_class3 {
color: #F8F400;
}
.player .cp_class4 {
color: #60FF00;
}
.player .cp_class5 {
color: #02C9B3;
}
.player .cp_class6 {
color: #E042E8;
font-weight: bold;
}
.player .cp_class7 {
color: #FFD0FF;
font-weight: bold;
}

.player .rank {
text-align: center;
}

.player .rank_normal {
color: #EEEEEE;
font-weight: normal;
}

.player .rank_premiere {
color: #E042E8;
font-weight: bold;
}

.highlight_normal {
background-color: #102010;
}

.highlight_danger {
background-color: #503090;
}

.highlight_owner {
border: 2px #FFFFFF solid;
}

.highlight_others {
border: 1px #808080 solid;
}

.highlight_private {
background-color: rgba(16, 32, 16, 0.3);
background-image: url('/images/pattern.png');
background-repeat: repeat;
}

.highlight_cancel {
background-color: rgba(16, 32, 16, 1.0);
background-image: none;
}

.player .shipclass {
color: #FBB040;
font-size: 14px;
white-space: nowrap;
font-weight:normal;
text-align: left;
}

.player .ship_font_6 {
font-variant-ligatures: none;
letter-spacing: 3px;
font-size: 14px;
color:#eeeeee;
font-weight:normal;
}

.player .ship_font_9 {
font-variant-ligatures: none;
letter-spacing: normal;
font-size: 14px;
color:#eeeeee;
font-weight:normal;
}

.player .ship_font_14 {
font-variant-ligatures: none;
letter-spacing: normal;
font-size: 13px;
color:#eeeeee;
white-space: nowrap;
font-weight:normal;
}

.player .ship_font_20 {
font-variant-ligatures: none;
letter-spacing: normal;
font-size: 12px;
color:#eeeeee;
white-space: nowrap;
font-weight:normal;
}

.player .key {
color: #FBB040;
white-space: nowrap;
}

.player .small {
font-size: 12px;
}

.footer {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
width: 1320px;
justify-content: center;
align-items: center;
padding: 1px 2px 2px 2px;
margin-left: 2px;
background-color: #393E46 !important;
}

.copyright {
margin-top: 3px;
text-align: left;
font-size: 14px;
}

.buttonpro2 {
margin-left: auto;
margin-top: 4px;
text-align: right;
font-size: 14px;
}

.buttonitem2 {
color: #EEEEEE
margin-right: 15px;
margin-top: 5px;
}

.language {
margin-left: 15px;
color: #000000;
background: #F0F0F0;
font-size: 14px;
vertical-align: middle;
}

.footer:after {
content: '';
clear: both;
}

.icon {
border: none;
margin: 0px 3px;
vertical-align: middle;
text-align: center;
}

.linkDisabled {
cursor: not-allowed;
pointer-events: none;
}