body {
	background-color: #393E46;
	color: #EEEEEE;
}

a, a:hover, a:visited {
	color: #DE703C;
}

.wrapper {
	margin: 0 auto;
}

h1, h2, h3 {
	text-align: center;
}

.hint {
	font-size: 20pt;
}

ul {
	list-style: none;
	padding-left: 5px;
}

.team {
	float: left;
	width: 50%;
}

.team .name {
	font-weight: bold;
}

.team li {
	float: left;
}

.player:hover {
	box-shadow: 0px 0px 5px 0px #222831;
}

.player {
	padding: 10px;
	background-color: #222831;
	margin: 5px;
	width: 225px;
	height: 260px;
}

.player .value{
	font-weight: bold;
}

.player .class1 {
	color: #FE0E00;
}

.player .class2 {
	color: #FE7903;
}

.player .class3 {
	color: #F8F400;
}

.player .class4 {
	color: #60FF00;
}

.player .class5 {
	color: #02C9B3;
}

.player .class6 {
	color: #D042F3;
}

.player .ship {
	margin-top: 5px;
	margin-bottom: 10px;
}

.player .key {
	color: #FBB040;
}

.player .small {
	font-size: 6pt;
}


.player .ship img {
	max-width: 100px;
}

.footer {
	clear: both;
	padding: 20px;
	text-align: center;
	width: 100%;
}