<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<title>wows stats plus</title>
	<script type="text/javascript">
		(function($) {
			window.open('http://localhost:8080','wows stats plus','directories=no,location=no,menubar=no,scrollbars=yes,status=no,toolbar=no,personalbar=no,width=1200,height=700');
			win.focus();
		});
	</script>
	<link rel="stylesheet" href="css/app.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.15.0/angular-translate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.15.0/angular-translate-storage-cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.15.0/angular-translate-storage-local.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.15.0/angular-translate-loader-static-files.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-handler-log/2.15.0/angular-translate-handler-log.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>	-->
	<script src="https://github.com/niklasvh/html2canvas/releases/download/0.5.0-alpha1/html2canvas.js"></script>
	<script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript">
	(function($) {
		var preloadImages = ['AU.png','BB.png','CA.png','CV.png','CW.png','DD.png','DE.png','ES.png','FR.png','IT.png','JP.png','NL.png','other.png','PA.png','PL.png','SU.png','UK.png','US.png','wows_logo_small.png','pattern.png'];

		for (var i=0; i<preloadImages.length; i++) {
			(new Image()).src = 'images/' + preloadImages[i];;
		}
	})(jQuery);
	</script>
</head>
<body ng-app="wows-stats-plus">
<div class="wrapper">
	<div class="content" ng-controller="TeamStatsCtrl">
		<div id="prtype_tbl">
			<div class="header">
				<div class="logo" ng-show="players.length>0"><img class="logo_image" src="images/wows_logo_small.png" /></div>
				<div class="label" id="title" ng-show="players.length>0">{{ battleTime }}〔{{'numero_sign' | translate}} {{ data.mapId }}〕{{ translated_gamemapname }}{{ translated_gameLogic }}<span class="hint" ng-hide="inGame">: {{'game.end_status' | translate}}</span></div>
				<div class="status" ng-hide="inGame">{{'title.game_status'| translate}} {{'title.game_waiting'| translate}}</div>
				<div class="buttonset" ng-show="players.length>0"><span ng-if="captureFlag"><input type="button" class="ss_button" id="ss" onclick="prepare_ss('#prtype_tbl')" value="{{'btn_top.Screenshot' | translate}}" /></span></div>
			</div>
			<div class="list" ng-show="players.length>0">
				<table class="list1">
					<thead>
						<tr>
							<th rowspan="2" style="width: 260px;">{{'list_label1.name' | translate}}</th>
							<th rowspan="2" style="width: 25px;">{{'list_label1.tier' | translate}}</th>
							<th rowspan="2" style="width: 54px;">{{'list_label1.type' | translate}}</th>
							<th rowspan="2" style="width: 144px;">{{'list_label1.ship_name' | translate}}</th>
							<th colspan="8">{{'list_label1.ship_score' | translate}}</th>
							<th colspan="6">{{'list_label1.player_score' | translate}}</th>
						</tr>
						<tr>
							<th title="{{'list_label2.ship.combatPower_title' | translate}}" style="width:92px;">{{'list_label2.ship.combatPower' | translate}}</th>
							<th title="{{'list_label2.ship.damage_title' | translate}}" style="width:70px;">{{'list_label2.ship.damage' | translate}}</th>
							<th title="{{'list_label2.ship.KillDeath_title' | translate}}" style="width:55px;">{{'list_label2.ship.KillDeath' | translate}}</th>
							<th title="{{'list_label2.ship.winRate_title' | translate}}" style="width:75px;">{{'list_label2.ship.winRate' | translate}}</th>
							<th title="{{'list_label2.ship.sinking_title' | translate}}" style="width:60px;">{{'list_label2.ship.sinking' | translate}}</th>
							<th title="{{'list_label2.ship.shootDown_title' | translate}}" style="width:60px;">{{'list_label2.ship.shootDown' | translate}}</th>
							<th title="{{'list_label2.ship.exp_title' | translate}}" style="width:60px;">{{'list_label2.ship.exp' | translate}}</th>
							<th title="{{'list_label2.ship.numBattle_title' | translate}}"style="width:60px;">{{'list_label2.ship.numBattle' | translate}}</th>
							<th title="{{'list_label2.player.rank_title' | translate}}" style="width:65px;">{{'list_label2.player.rank' | translate}}</th>
							<th title="{{'list_label2.player.winRate_title' | translate}}" style="width:70px;">{{'list_label2.player.winRate' | translate}}</th>
<!--							<th title="{{'list_label2.player.damage_title' | translate}}" style="width:70px;">{{'list_label2.player.damage' | translate}}</th>	-->
<!--							<th title="{{'list_label2.player.KillDeath_title' | translate}}" style="width:40px;">{{'list_label2.player.KillDeath' | translate}}</th>	-->
							<th title="{{'list_label2.player.exp_title' | translate}}" style="width:60px;">{{'list_label2.player.exp' | translate}}</th>
							<th title="{{'list_label2.player.numBattle_title' | translate}}" style="width:60px;">{{'list_label2.player.numBattle' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in players" ng-if="value.relation!=2" name="{{value.ship.shipty}}" class="player {{value.ship.highlightClass}} {{value.ship.ownerClass}}">
							<td class="tdata_l highlight_cancel" style="height:24px;">
								<a ng-click="link_disabled()" ng-class="{linkDisabled: value.is_bot}" href="{{value.uri}}/" name="user_own" style=" Color:#38c38c;" target="_blank" title="{{value.clan}} {{value.name}}"><span style="color: #eeeeee">{{value.clan}}</span> {{value.name_s}}</a>
								<span name="user_buta"style ="color: #38c38c; display:none;">&nbsp;(´・ω・`)&nbsp;</span>
							</td>
							<td class="highlight_cancel">{{value.ship.shiptia_s}}</td>
							<td class="tdata_l {{value.ship.bgcolor}}"><img class="icon" ng-src="{{value.ship.shipnation_s}}" title="{{value.ship.shipnation_alt}}" /><img class="icon" ng-src="{{value.ship.shiptype_s}}" title="{{value.ship.shiptype_alt}}" /></td>
							<td class="tdata_l highlight_cancel {{value.ship.bgcolor}}" style="padding-left: 3px; padding-right: 3px;">
								<span class="shipclass {{value.ship.namefont_trans}}" name="shipname_trans">{{value.ship.name_trans}}</span><span class="shipclass {{value.ship.namefont}}" name="shipname_eng" style ="display:none;">{{value.ship.name}}</span><span class="key {{value.ship.namefont}}">{{value.ship.shipkakin}}</span>
							</td>
							<td><span class="{{value.ship.combatPowerClass}}" ng-hide="value.ship.err">{{value.ship.combatPower}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.avgDmg}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.kdRatio}}</span></td>
							<td><span class="{{value.ship.winRateClass}}" ng-hide="value.ship.err">{{value.ship.winRate}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.shfl}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.ftfl}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.avgExp}}</span></td>
							<td><span name="battle_suu" ng-hide="value.ship.err">{{value.ship.battles}}</span>
								<span name="battle_asu" style ="display:none;"  ng-hide="value.err">***</span></td>
							<td class="rank"><span class="{{value.preRankClass}}" ng-hide="value.err">{{value.pre_rank}}</span><span ng-hide="value.err">{{value.RankGap}}</span><span class="{{value.RankClass}}" ng-hide="value.err">{{value.rank}}</span></td>
							<td><span class="{{value.winRateClass}}" ng-hide="value.err">{{value.winRate}}</span></td>
<!--							<td><span ng-hide="value.err">{{value.formatdmg}}</span></td>	-->
<!--							<td><span ng-hide="value.err">{{value.kdRatio}}</span></td>	-->
							<td><span ng-hide="value.err">{{value.formatexp}}</span></td>
							<td><span name="battle_suu" ng-hide="value.err">{{value.formatbattle}}</span>
								<span name="battle_asu" style ="display:none;"  ng-hide="value.err">***</span></td>
						</tr>
					</tbody>
				</table>
				<table class="list2">
					<thead>
						<tr>
							<th rowspan="2" style="width: 260px;">{{'list_label1.name' | translate}}</th>
							<th rowspan="2" style="width: 25px;">{{'list_label1.tier' | translate}}</th>
							<th rowspan="2" style="width: 54px;">{{'list_label1.type' | translate}}</th>
							<th rowspan="2" style="width: 144px;">{{'list_label1.ship_name' | translate}}</th>
							<th colspan="8">{{'list_label1.ship_score' | translate}}</th>
							<th colspan="6">{{'list_label1.player_score' | translate}}</th>
						</tr>
						<tr>
							<th title="{{'list_label2.ship.combatPower_title' | translate}}" style="width:92px;">{{'list_label2.ship.combatPower' | translate}}</th>
							<th title="{{'list_label2.ship.damage_title' | translate}}" style="width:70px;">{{'list_label2.ship.damage' | translate}}</th>
							<th title="{{'list_label2.ship.KillDeath_title' | translate}}" style="width:55px;">{{'list_label2.ship.KillDeath' | translate}}</th>
							<th title="{{'list_label2.ship.winRate_title' | translate}}" style="width:75px;">{{'list_label2.ship.winRate' | translate}}</th>
							<th title="{{'list_label2.ship.sinking_title' | translate}}" style="width:60px;">{{'list_label2.ship.sinking' | translate}}</th>
							<th title="{{'list_label2.ship.shootDown_title' | translate}}" style="width:60px;">{{'list_label2.ship.shootDown' | translate}}</th>
							<th title="{{'list_label2.ship.exp_title' | translate}}" style="width:60px;">{{'list_label2.ship.exp' | translate}}</th>
							<th title="{{'list_label2.ship.numBattle_title' | translate}}"style="width:60px;">{{'list_label2.ship.numBattle' | translate}}</th>
							<th title="{{'list_label2.player.rank_title' | translate}}" style="width:65px;">{{'list_label2.player.rank' | translate}}</th>
							<th title="{{'list_label2.player.winRate_title' | translate}}" style="width:70px;">{{'list_label2.player.winRate' | translate}}</th>
<!--							<th title="{{'list_label2.player.damage_title' | translate}}" style="width:70px;">{{'list_label2.player.damage' | translate}}</th>	-->
<!--							<th title="{{'list_label2.player.KillDeath_title' | translate}}" style="width:40px;">{{'list_label2.player.KillDeath' | translate}}</th>	-->
							<th title="{{'list_label2.player.exp_title' | translate}}" style="width:60px;">{{'list_label2.player.exp' | translate}}</th>
							<th title="{{'list_label2.player.numBattle_title' | translate}}" style="width:60px;">{{'list_label2.player.numBattle' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in players" ng-if="value.relation==2" name="{{value.ship.shipty}}" class="player {{value.ship.highlightClass}} {{value.ship.ownerClass}}">
							<td class="tdata_l highlight_cancel" style="height:24px;">
								<a ng-click="link_disabled()" ng-class="{linkDisabled: value.is_bot}" href="{{value.uri}}/" name="user_own" style=" Color:#38c38c;" target="_blank" title="{{value.clan}} {{value.name}}"><span style="color: #eeeeee">{{value.clan}}</span> {{value.name_s}}</a>
								<span name="user_buta"style ="color: #38c38c; display:none;">&nbsp;(´・ω・`)&nbsp;</span>
							</td>
							<td class="highlight_cancel">{{value.ship.shiptia_s}}</td>
							<td class="tdata_l {{value.ship.bgcolor}}"><img class="icon" ng-src="{{value.ship.shipnation_s}}" title="{{value.ship.shipnation_alt}}" /><img class="icon" ng-src="{{value.ship.shiptype_s}}" title="{{value.ship.shiptype_alt}}" /></td>
							<td class="tdata_l highlight_cancel {{value.ship.bgcolor}}" style="padding-left: 3px; padding-right: 3px;">
								<span class="shipclass {{value.ship.namefont_trans}}" name="shipname_trans">{{value.ship.name_trans}}</span><span class="shipclass {{value.ship.namefont}}" name="shipname_eng" style ="display:none;">{{value.ship.name}}</span><span class="key {{value.ship.namefont}}">{{value.ship.shipkakin}}</span>
							</td>
							<td><span class="{{value.ship.combatPowerClass}}" ng-hide="value.ship.err">{{value.ship.combatPower}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.avgDmg}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.kdRatio}}</span></td>
							<td><span class="{{value.ship.winRateClass}}" ng-hide="value.ship.err">{{value.ship.winRate}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.shfl}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.ftfl}}</span></td>
							<td><span ng-hide="value.ship.err">{{value.ship.avgExp}}</span></td>
							<td><span name="battle_suu" ng-hide="value.ship.err">{{value.ship.battles}}</span>
								<span name="battle_asu" style ="display:none;"  ng-hide="value.err">***</span></td>
							<td class="rank"><span class="{{value.preRankClass}}" ng-hide="value.err">{{value.pre_rank}}</span><span ng-hide="value.err">{{value.RankGap}}</sapn><span class="{{value.RankClass}}" ng-hide="value.err">{{value.rank}}</span></td>
							<td><span class=" {{value.winRateClass}}" ng-hide="value.err">{{value.winRate}}</span></td>
<!--							<td><span ng-hide="value.err">{{value.formatdmg}}</span></td>	-->
<!--							<td><span ng-hide="value.err">{{value.kdRatio}}</span></td>	-->
							<td><span ng-hide="value.err">{{value.formatexp}}</span></td>
							<td><span name="battle_suu" ng-hide="value.err">{{value.formatbattle}}</span>
								<span name="battle_asu" style ="display:none;"  ng-hide="value.err">***</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="footer" ng-show="players.length>0">
				<div class="copyright">wows-stats-plus {{ version }} &nbsp;&nbsp; Powered by <a href="https://github.com/tianweiliu/wows-stats" id="footerurl" target="_blank">wows-stats</a> (original) &nbsp;&nbsp; modified by <a href="https://moon-light-oasis.net/" id="footerurl" target="_blank">AnMoreNight</a></div>
				<div class="buttonpro2">
					<span translate>{{'btn_bottom.label_visible'}}</span>&nbsp;
					<input type="checkbox" class="buttonitem2" name="idhi" value="id_pr10" onclick="idhide(this.checked)"> {{'btn_bottom.hide' | translate}}</input>
					<span translate style="margin-left:30px;">{{'btn_bottom.label_notation'}}</span>&nbsp;
					<input type="radio" class="buttonitem2" name="knp" value="nm_sw0" onclick="shipname_ex(0)" > {{'btn_bottom.original' | translate}}</input>&nbsp;
					<input type="radio" class="buttonitem2" name="knp" value="nm_sw1" onclick="shipname_ex(1)"> {{'btn_bottom.translated' | translate}}</input>
					<select size="1" name="lang_select" class="language" ng-model="select" ng-change="changeLanguage()">
						<option value="{{option.value}}" ng-repeat="option in options">{{option.label}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	InitViewMode();
</script>
</body>
</html>